<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track</title>
    <!-- This is how I link up the CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- This is how I am adding the ability to use icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header id="track-header">Track workout</header>
    <div id="form-wrapper">
        <!-- Added POST method so it can properly submit the form upon hitting Go! -->
        <form action="{{ url_for('submit') }}" method="POST">
            <label for="muscle-group-select"></label>
            <label for="muscle-group-select">Select a muscle group</label>
            <select id="muscle-group-select" name="muscle-group-select">
                <option value="arms">Arms</option>
                <option value="legs">Legs</option>
                <option value="back">Back</option>
                <option value="chest">Chest</option>
                <option value="abs">Abs</option>
            </select>
            <label for="machine-select">Select a machine</label>
            <select id="machine-select" name="machine-select">
                <option value="Bicep curl">Bicep curl</option>
                <option value="Shoulder press">Shoulder press</option>
                <option value="Leg press">Leg press</option>
                <option value="Glute kickback">Glute kickback</option>
                <option value="Lat pulldown">Lat pulldown</option>
                <option value="Chest press">Chest press</option>
                <option value="Fly">Fly</option>
                <option value="Crunch">Crunch</option>
                <option value="Torso rotation">Torso rotation</option>
            </select>
            <div id="numbers-wrapper">
                <div id="weight-wrapper">
                    <label for="weight">Enter weight</label>
                    <div id="weight-input-wrapper">
                        <input type="text" id="weight" name="weight">
                        <select name="measurement" id="measurement">
                            <option value="lbs">lbs</option>
                            <option value="kg">kg</option>
                        </select>
                    </div>
                </div>
                <div id="reps-wrapper">
                    <label for="reps">Enter reps</label>
                    <input type="text" id="reps" name="reps">
                </div>
            </div>
            <input type="submit" id="submit" value="Go!">
        </form>
    </div>
    <footer>Made by <a href="https://github.com/kelseyonline">@kelseyonline</a> on Github</footer>
</body>
</html>